* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hammersmith One', Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  color: #333;
}

.container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(201, 124, 124, 0.1);
  overflow-y: auto; 
  max-height: 90vh; 
}

button {
      font-family: 'Hammersmith One', Arial, Helvetica, sans-serif;
}

h1 {
  color: #4a4a4a;
}

p {
  color: #666;
}


.group-selection button {
  padding: 15px;
  background-color: #fae2db;
  border: 2px solid #fad2cb;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.group-selection button:hover {
  background-color: #f1c7d0;
  transform: scale(1.05);
}

.battle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.member {
  width: 30%;
  padding: 15px;
  background-color: #fae2db;
  border: 2px solid #fad2cb;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.member:hover {
  background-color: #f1c7d0;
  transform: scale(1.05);
}

.options button {
  padding: 10px 20px;
  background-color: #ffecb3;
  border: 2px solid #ffe082;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.options button:hover {
  background-color: #ffe082;
}

#progress {
  margin-top: 20px;
  color: #757575;
}

.ranking-container {
  max-width: 500px;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 70vh; 
}

.finalRanking {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  text-align: center;
}

ol li {
  font-size: 16px;
  color: #333; 
  margin: 5px 0; 
}
